HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### hr backend ###
/hr-backend/target/
/hr-backend/.mvn/
/hr-backend/.idea
*.class
*.log

### Node/Angular frontend ###
/hr-frontend/node_modules/
/hr-frontend/dist/
/hr-frontend/.angular/cache/


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
