# k8s/hr-backend/04-hr-backend-servicemonitor.yaml
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: hr-backend
  namespace: monitoring
  labels:
    release: kube-prometheus      # <-- add this label
spec:
  selector:
    matchLabels:
      app: hr-backend             # <-- must match labels on the *Service*
  namespaceSelector:
    matchNames: [hr-system]       # <-- where the Service lives
  endpoints:
    - port: http                  # <-- must match the *name* of the Service port
      path: /actuator/prometheus
      interval: 15s
